@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: "Poppins" , sans-serif;
}

body{
    margin: 0;
    overflow-x: hidden;
}

/*---------------Go back to top button-------------*/
html { 
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*------------back to top buttom-------------------*/
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}


/*--------------------header------------------------*/

.header{
    min-height: 68px;
    width: 100%;
    background-image: linear-gradient(rgb(255 255 255 / 10%),rgb(255 255 255 / 10%));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    height: auto;
  }
  
  nav img{
    width: 190px;
    padding-left: 15px;
  }
  nav{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav-links{
    flex: 1;
    text-align: right;
    padding-top: 16px;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 16px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(30, 231, 238, 0.7);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  
  
  @media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
  }
  
  nav .fa{
    display: none;
  }
  
  @media(max-width: 700px){
    .text-box h1{
        font-size: 34px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0d467a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 35px;
        text-align: right;
    }
  }
  
  
/*---------------------------------------------------*/

.title{
  text-align: center;
}


.title h1{
  font-size: 40px;
  text-align: center;
}
  
.back-btn{
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: #31a3d8;
  text-align: center;
}



.what {
  height: 375px;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 5px;
  min-height: 55vh;
}

.what h1 {
  padding-top: 40px;
  font-size: 30px;
}

.what img{
  height: 345px;
  width: auto;
  float: right;
  display: block;
  padding: 10px;
  padding-right: 80px;
} 
  
.title .border-pro {
  width: 470px;
  height: 5px;
  background: #31a3d8;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 450px;
}
  
.what .border-pro {
  width: 200px;
  height: 5px;
  background: #31a3d8;
  margin-bottom: 10px;
}  
  
.what p{
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 455px;
  font-size: 16px;
}  
  
/*----------*/  

.why h1{
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.why .border-pro {
  width: 230px;
  height: 5px;
  background: #31a3d8;
  margin-bottom: 10px;
  margin-left: 550px;
}
  



.row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.serives{
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  /*
  background-color: #cfc6c6;   */
}
.serives-col{
width:50%;
margin-left: auto ;
margin-right:auto ;
flex-basis: 32%;
border-radius: 10px;
margin: 30px;
position: relative;
overflow: hidden;
box-shadow: -10px 10px 35px rgba(0,0,0,0.3);
}
.serives-col img{
height: 150px;
width: 120px;
text-align: center;  
padding: 15px;
padding-top: 30px; 
margin-left: 42px;
}
.layer{
background: transparent;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: 0.5s;
border: 1px solid rgba(30, 231, 238, 0.7); 
border-radius: 10px;
}
.layer:hover{
  background: rgba(30, 231, 238, 0.7);
}
  
.layer h3{
  text-align: center;
}

/*--------------*/

.what-1 {
  height: 83vh;
}



.what-1 .border-pro {
  width: 200px;
  height: 5px;
  background: #31a3d8;
  margin-bottom: 10px;
}  
  
.what-1 p{
  padding: 10px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 455px;
  font-size: 16px;
}

.details-pd-1 {
  margin-left: 30px;
}

.why {
  padding-top: 70px;
  margin-left: 30px;
}

.what-1 {
  height: 490px;
  padding: 40px 20px 5px 20px;
}

.what-1 h1 {
  padding-top: 40px;
  font-size: 30px;
}

.what-1 img{
    padding-top: 80px;
    height: 400px;
    width: auto;
    float: right;
    display: block;
    margin: auto;
    padding-right: 80px;
} 
  
.what-1 h2{
  font-size: medium;
  padding-top: 10px;
}  
  
.pd-btn {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 15px 36px;
  border-radius: 60px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
  top: 30px;
  left: 15px;
} 

.pd-btn:hover{
  border: 1px solid rgba(30, 231, 238, 0.7);
  background: rgba(30, 231, 238, 0.7);
  transition: 1s;
}

.pd-btn-1 {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 15px 36px;
  border-radius: 60px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
} 

.pd-btn-1:hover{
  border: 1px solid rgba(30, 231, 238, 0.7);
  background: rgba(30, 231, 238, 0.7);
  transition: 1s;
}

.btn-1{
  padding: 70px;
  padding-top: 45px;
  text-align: center;
  position: relative;
}
  












  
  

/*---------------Footer-----------------*/

footer{
  background: #000000;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 0px;
}
footer::before{
  content: '';
    /*  position:absolute;   */
  left: 0;
  top: 2410px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1490px;
  margin: auto;
  padding: 10px 0px 5px 0px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;

}

.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #000000;
}
.top .media-icons a:nth-child(1):hover{
  color: #000000;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #000000;
}
.top .media-icons a:nth-child(2):hover{
  color: #000000;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #000000;
}
.top .media-icons a:nth-child(3):hover{
  color: #000000;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #000000;
}
.top .media-icons a:nth-child(4):hover{
  color: #000000;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #000000;
}
.top .media-icons a:nth-child(5):hover{
  color: #000000;
  background: #fff;
}
.top .media-icons a:nth-child(6){
  background: #000000;
}
.top .media-icons a:nth-child(6):hover{
  color: #000000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #a4aeb1;;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
  
}
.content .link-boxes .box li a::after{
  content: "";
  position: absolute;
  background-color: #31a3d8;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.hover-footer{
  display: inline-block;
  padding-bottom: 0.25rem;
}








.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #000000;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #000000;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #000000;
}
footer .bottom-details .bottom_text{
  max-width: 1500px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #a1a6a7;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){

  footer{
    position: relative;
    padding: 10px;
  }


.content .link-boxes .box li a{
  color: #77c7db;
} 
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
    padding: 20px;
  }
  footer .content .link-boxes .input-box{
    width: 70%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

.content img {
  height: 70px;
  width: 180px;
  align-content:stretch;   
}


#preloader{
  background: #000000 url(Image/loader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}


/*------Scoial Media Links----*/
.icon-bar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	z-index: 10;
}

.icon-bar a {
	text-decoration: none;
	width: 210px;
	/*  background: #3b5999; */
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
  padding-right: 7px;
  font-size: 16px;
	transform: translateX(-170px);
	-webkit-transform: translateX(-170px);
	-ms-transform: translateX(-170px);
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}

.facebook {
	background: #3b5998;
}

.twitter {
	background: #00aced;
}

.instagram {
	background: #e4405f;
}

.youtube {
	background: #cd201f;
}

.linkedin {
	background: #0077B5;
}


.icon-bar a i {
	padding-left: 20px;
	font-size: 30px !important;
	animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom {
	from {
		transform: scale(0.8);
	}

	to {
		transform: scale(1);
	}

}

a:hover {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}




/*Responsive For mobile*/
@media screen and (max-width: 768px) {
.back-btn {
  font-size: 20px;
}
.title h1 {
  font-size: 20px;
  font-weight: 300;
}
.title .border-pro{
  display: none;
}
.what img{
  height: 250px;
  padding-right: 0px;
}
.what{
  padding: 20px 20px 10px 20px;
  min-height: 65vh;
}
.what p{
  padding-right: 0px;
}
.what h1{
  padding-top: 10px;
  font-size: 25px;
}
.pd-btn{
  top: 45px;
  left: 190px;
}
.why h1{
  font-size: 25px;
}
.row{
  flex-wrap: wrap;
}
.details-pd-1 {
  min-height: 100vh;
}
.what-1 img{
  height: 310px;
  margin-top: 75px;
  padding-right: 10px;
  padding-left: 10px;
}
.what-1 p{
  padding: 5px 10px 10px 10px;
  text-align: justify;
  font-size: 16px;
}
.pd-btn-1{
  top: -20px;
}
.why .border-pro{
  margin-left: 245px;
  width: 180px;
}
}

@media (max-width: 550px) {
a.back-btn {
  font-size: 16px;
}
.layer {
  width: 100%;
  padding-left: 10px;
}
.details-pd {
  height: 75vh;
}
.title h1 {
  font-size: 17px;
}
.what h1 {
  font-size: 16px;
}
.what img {
  height: 180px;
}
.what p {
  font-size: 14px;
}
.pd-btn {
  left: 30px;
  padding: 10px 25px;
  font-size: 14px;
}
.why h1 {
  font-size: 20px;
}
.why .border-pro {
  margin-left: 150px;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serives-col img {
  padding: 15px;
  padding-top: 30px;
  margin-left: 60px;
}
.what-1 img {
  height: 200px;
}
.what-1 h1 {
  font-size: 18px;
}
.what-1 h2 {
  font-size: 15px;
}
.what-1 p {
  font-size: 12px;
}
.btn-1.aos-init.aos-animate {
  padding: 0px 25px;
}
.pd-btn-1 {
  padding: 10px 25px;
  font-size: 14px;
  top: 0px;
}
footer .content {
  padding-left: 30px;
}
.details-pd-1 {
  min-height: 85vh;
}
.btn-1 {
  padding: 10px;
  padding-bottom: 50px;
}















}